@import "styles/constants";
.wrapper{
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  .wrap1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title{
      font-size: 32px;
      font-family: $font-family1;
      text-transform: uppercase;
      color: $title-color;
    }
    .line{
      width: 50px;
      height: 2px;
      background-color: $color-main;
    }
  }
  .grid{
    width: 60vw;
    margin-left: 20vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
    .col{
        .center{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-top: 10px;
          .title1{
            font-size: 18px;
            font-family: $font-family1;
            color: $title-color;
            text-transform: uppercase;
            text-align: center;
          }
          .text{
            color: $title-color;
          }
          .icon{
            color: $color-main;
          }
        }
      &:hover{
        background-color: $color-main;
        box-shadow:$color-main 0px 5px 15px;
        cursor: pointer;
      }
      &:hover .title1{
        color: white;
      }
      &:hover .text{
        color: white;
      }
      &:hover .icon{
        color: white;
      }

    }
  }
}
@media(max-width: 535px) {
  .wrapper{
    .wrap1{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title{
        font-size: 24px;
        font-family: $font-family1;
        text-transform: uppercase;
        color: $title-color;
      }
      .line{
        width: 50px;
        height: 2px;
        background-color: $color-main;
      }
    }
  }
}
@media(max-width: 360px) {
  .wrapper{
    .wrap1{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title{
        font-size: 20px;
        font-family: $font-family1;
        text-transform: uppercase;
        color: $title-color;
      }
      .line{
        width: 50px;
        height: 2px;
        background-color: $color-main;
      }
    }
  }
}
