$color-primary: rgba(47,73,108,0.65);
$color-main:#1A4FC1;
$color-main_065:rgba(225,161,35,0.65);
$color-main_075:rgba(225,161,35,0.75);
$title-color:rgb(27,54,96);
$title-color_07:rgba(27,54,96,0.7);
$color-black:rgb(0,0,0);
$font-family1:"Times New Roman";
$footer-color:rgb(0,33,76)